<style>
  *, *:before, *:after{
      margin: 0;
      padding: 0;
      direction: ltr;
      /* box-sizing: border-box; */
  }
  /* html{
    font-size: 9px;
    line-height: 1.8;
  } */
  .ArticleCopy {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 100%;
    margin:0 auto;
    /* border: 1px solid #ddd; */
    padding: 1rem;
    line-height: 1.66;
    font-size: 16px;
  }
  .ArticleCopy p {
      text-rendering: optimizeLegibility;
  }
  .ArticleCopy blockquote {
      /* border-radius: 3px; */
      position: relative;  /*  <--- */
      font-style: italic;
      text-align: center;
      padding: 1rem 1.2rem;
      width: 100%;  /* create space for the quotes */
      color: #4a4a4a;
      margin: 1rem auto 2rem;
      color: #4a4a4a;
      background: white;
  }


.ratedStar {
  font-size:25px;
  color: #ff9900;
}
.notRatedStar {
  font-size:30px;
  color:#ccc;
}
.reviewTitle {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size:16px;
  color: black;
  font-weight: bold;
  text-align: left;
}
.reviewAuthor {
  font-style: normal;
  line-height: 2;
  margin: 0.1rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size:16px;
  color: gray;
  /* font-weight: gray; */
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.column {
  float: center;
  width: 33%;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}


</style>


<div class="row">
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by Conrado Sinsona I – Jan 12, 2020. Play Store
        </p>
        <p class="reviewTitle">
        好用
        </p>
        <p>"Love this app! specially the camera features. This is a must have app it is very useful.
"</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by lulusamb – Jan 4, 2020. App Store (Poland)
        </p>
        <p class="reviewTitle">
        Great
        </p>
        <p>"I’m very happy to have downloaded it!! Absolutely worth the price:D
"</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by lingdd1 – Jan 18, 2020. App Store (China)
        </p>
        <p class="reviewTitle">
        好用
        </p>
        <p>"非常非常非常好用"</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by マイケルですが – Oct 15, 2019. App Store (Australia)
        </p>
        <p class="reviewTitle">
        Unique and very useful
        </p>
        <p>"The OCR brought me into the app but in reality I don’t use it much (though it works pretty well). I have found more value in the dictionary itself (kanji info, examples sometimes not seen in other resources, and the easy way to build up word lists and exporting those). More recently I’ve come to appreciate the unique “wall” corner of the app which is a community where people can ask questions and often get useful answers, and occasionally find interesting study materials. As a serious student and user of many other Japanese apps, I find this app a particularly valuable resource. Also the app developer listens and cares, therefore I highly recommend this app without hesitation."</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by Jarrod Del Rosario – Dec 22, 2019. Play Store
        </p>
        <p class="reviewTitle">
        好用
        </p>
        <p>"Great app! I just started living in Japan and this app helped me learn new words and Kanjis every day! Whenever I'm on the train, I just whip my phone out, look for Kanjis written on posters then start writing them in this app. I especially love that it also has the other forms of a word."</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        by l'age de glace 38410 – Jan 15, 2020. App Store (US)
        </p>
        <p class="reviewTitle">
        AWESOME
        </p>
        <p>"If anyone remembers what it took to find a kanji in "kanwajiten" ages, they will weep with joy when they use this app. It is just the best tool ever for the learner of japanese language. Kuddos."</p>
      </blockquote>
    </section>
  </div>
</div>
